body {
    position: relative;
    background-color: #FAFAFA;
    display: flex;
}

#menu {
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}


#menu .logo img {
    width: 100%;
    height: 100%;
    margin: 10px 20px 0px 10px;
}


#menu .items {
    margin-top: 20px;
}

#menu .items li {
    padding: 15px;
    list-style: none;
}

.logo {
    width: 172px;
    height: 40px;
    align-items: center;
    margin: 0px 10px 0px 18px;

}

#menu .items li img {
    width: 16px;
    height: 18px;
    align-items: center;
    margin: 0px 10px 0px 8px;

}

#menu .items li a {
    text-decoration: none;
    color: #3E3E3E;
    font-size: 18px;
    margin: 0px 10px;

}

#menu .items li:nth-child(1) {
    background-color: #FFF3F4;

}

#menu .items li:nth-child(1) a {
    color: #C8242F;
}

#menu .items li:hover {
    background-color: #FFF3F4;

}

#menu .items li:hover a {
    color: #C8242F;
    font-weight: 300px;
    transition: 0.3s ease;
}


#iface {
    width: 85%;
    margin-left: 15%;
    padding-left: 50px;
    background-color: #FAFAFA;
    height: 100%;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-left: -50px;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    width: 85%;
}


#iface .nav .search {
    display: flex;
    justify-content: flex-start;
    border-radius: 4px;
    padding: 10px 14px;
}

#iface .nav .search input {
    border: none;
    outline: none;
    align-items: center;
    margin: -3px 1px;
    font-size: 14px;
}


#iface .nav .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#iface .nav .profile i {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400px;
}

#iface .nav .profile img {
    object-fit: cover;
}


.product_detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FAFAFA;
}

.dashboard_heading {

    margin-top: 90px;

}

.dash {
    background-color: #FAFAFA;
}

.detail-box {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10%;
    box-shadow: #3E3E3E;
    width: 240px;
    justify-content: center;
    align-items: center;
    height: 17%;
    margin: 15px;
    padding: 15px;
}

.detail-box img {
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 60px;
    width: 33px;
    height: 33px;

}

.detail-box h3 {
    font: normal normal medium 25px/33px Roboto;
    margin-bottom: -6px;
}

.detail-box span {
    font: normal normal normal 15px/20px Roboto;

}

.charts {
    display: grid;
    border-color: #FAFAFA;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 20px;
    background-color: #FAFAFA;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
}

.chart {
    background-color: #FFFFFF;
    box-shadow: #3E3E3E;
    padding: 15px;
    width: 100%;
}

.chart_title {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}

.timeline {
    margin-right: 10px;

}

.timeline a {
    text-decoration: none;
    padding: 10px;
    color: #3E3E3E;
}

.timeline a:hover {
    color: #C8242F;
    text-decoration: none;
    font-weight: bold;
}

.dounghnut-chart {

    justify-content: center;
    padding: 5px;
    background-color: #FFFFFF;
    width: 100%;
}

.dounghnut-chart img {
    margin: auto;
    padding: 20px;
    width: 100%;
    justify-content: center;
}

.invoice-container {
    background-color: #FAFAFA;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
}

.done {
    background-color: #EBFFEF;
    padding: 1px;
    opacity: .8;
    border-radius: 10%;
    color: green;
    text-decoration: none;
}

.pending {
    background-color: #EBFFEF;
    padding: 1px;
    opacity: .8;
    border-radius: 10%;
    color: #3E3E3E;
    text-decoration: none;
}

.fail {

    background-color: #EBFFEF;
    padding: 1px;
    opacity: .8;
    border-radius: 10%;
    color: red;
    text-decoration: none;
}

#year_time {
    color: #C8242F;
    text-decoration: underline;
    font-weight: bolder;
}

.countries {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.country {
    margin: 2px;
}

.n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn {
    visibility: hidden;
    display: none;
    cursor: pointer;
    margin: 5px;
}

@media (max-width:769px) {
    #menu {
        width: 270px;
        left: -295px;
        position: fixed;
        transition: 0.3s ease;
    }

    #menu.active {
        left: 0px;
    }

    #menu-btn {
        display: initial;
        visibility: visible;
    }

    #menu.active~#iface {
        margin-left: 270px;

        transition: 0.3s ease;
    }

    #iface {
        width: 100%;
        margin-left: 0px;
        margin: -25px;
        transition: 0.3s ease;
        display: inline-block;

    }

    .nav {
        width: 100%;
        margin-top: 15px;
        margin-left: -25px;
    }

    .product_detail {
        justify-content: flex-start;
    }

    .detail-box {
        margin: 10px;
        flex-wrap: wrap;
    }

    .table {
        overflow-x: auto;
    }

    .charts {
        display: inline-block;
        padding: 20px;
        padding-top: 0px;
        border: 10px solid #FAFAFA;
    }

    .chart {
        padding: 10px;
    }

    .dounghnut-chart img {
        padding: 10px;
        margin: auto;
        width: 75%;
        justify-content: center;
    }
}

@media (max-width:477px) {

    #menu.active {
        left: 0px;
    }

    #menu-btn {
        display: initial;
        visibility: visible;
    }

    #menu.active~#iface {
        margin-left: 270px;

        transition: 0.3s ease;
    }
    
    .dash {
        background-color: #FAFAFA;
        text-align: center;
    }

    #iface {
        padding: 10px;
        margin: auto;
    }

    .product_detail {
        justify-content: flex-start;
        width: 100%;
    }

    .detail-box {
        margin: 10px;
        flex-wrap: wrap;
        width: 100%;
    }

    .timeline {
        margin-right: 1px;
        font-size: 11px;
    }

    .chart {
        margin: auto;
        width: 100%;
    }

    .dounghnut-chart {
        justify-content: center;
        padding: 1px;
        font-size: 10px;
        background-color: #FFFFFF;
        width: 100%;
        border-top: 10px solid #FAFAFA;
    }

    .nav {
        width: 100%;
        padding: 10px;
        margin-left: 10px;

    }

    #iface .nav {
        margin: -10px;
    }

    table {
        width: 100%;
    }

    .search {
        width: 150px;
    }


}